@model ResponseModel<Inquiries>

@{
	Layout = null;
	var IndexPageUrl = "/" + ViewContext.RouteData.Values["Area"] + "/" +
								ViewContext.RouteData.Values["Controller"] + "/Index";
}

<div class="col-12">
	<div class="card card-primary card-outline mb-0">

		<div class="card-header">
			<h3 class="card-title">
				@(Model.Obj.Id > 0 ? "Edit " : "Create") Inquiry
			</h3>

			<input type="hidden" name="Id" value="@Model.Obj?.Id" />

			<div class="card-tools">
				<button type="button" class="btn btn-primary btn-sm"
						onclick="fnBackToList('@IndexPageUrl')">
					<i class="fas fa-arrow-left"></i> Back To List
				</button>
			</div>
		</div>

		<div class="card-body">

			<div class="form-group row">

				<label class="col-sm-2 col-form-label text-right">
					Inquiry Date <span style="color:red">*</span>
				</label>

				<div class="col-sm-4">
					<input type="date"
						   name="Inquiry_Date"
						   class="form-control form-control-sm"
						   value="@Model.Obj?.Inquiry_Date?.ToString("yyyy-MM-dd")"
						   maxlength="100"
						   data-required
						   data-msg="Please Select Inquiry Date"
						   disabled="@(Model.Obj.Id > 0 ?true:false)"
						   autocomplete="off" />
				</div>
				<label class="col-sm-2 col-form-label text-right">
					Product Name 
				</label>

				<div class="col-sm-4">
					<select id="ProductId" class="form-control select2" name="ProductId" disabled="@(Model.Obj.Id > 0 ? true : false)">
						<option value="0">Select</option>
						@if (Model.SelectListItems != null)
						{
							foreach (var item in Model.SelectListItems.Where(x => x.Group == "PRODUCT"))
							{
								if (Model.Obj.ProductId.ToString() == item.Value)
								{
									<option value="@item.Value"  selected>@item.Text</option>
								}
								else
								{
									<option value="@item.Value" >@item.Text</option>
								}
							}
						}
					</select>
				</div>

			</div>


			<div class="form-group row">

				<label class="col-sm-2 col-form-label text-right">
					Subject<span style="color:red">*</span>
				</label>

				<div class="col-sm-8">

					<input type="text"
						   id="Subject"
						   name="Subject"
						   class="form-control form-control-sm"
						   value="@Model.Obj?.Subject"
						   data-required  data-msg="Please Enter Subject"
						   autocomplete="off" disabled="@(Model.Obj.Id > 0 ? true : false)" />

					

				</div>

			</div>
			<div class="form-group row">

				<label class="col-sm-2 col-form-label text-right">
					Message<span style="color:red">*</span>
				</label>

				<div class="col-sm-8">

					<textarea type="text" rows="4"
							  id="Message"
							  name="Message"
						   class="form-control form-control-sm"
						   value="@Model.Obj?.Message"
							  data-required data-msg="Please Enter Message"
							  autocomplete="off" disabled="@(Model.Obj.Id > 0 ? true : false)">@Model.Obj?.Message</textarea>

					

				</div>

			</div>

			@* <div class="form-group row">

				<label class="col-sm-2 col-form-label text-right">Status</label>

				<div class="col-sm-4">

					<div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success border-0">

						<input type="checkbox"
							   class="custom-control-input"
							   id="switch_Status"
							   name="IsActive"
						@(Model.Obj == null || Model.Obj.Id == 0 || Model.Obj.IsActive ? "checked" : "")
							   onchange="fnChange_Switch(this,'label_Switch_Status')" />

						<label class="custom-control-label"
							   id="label_Switch_Status"
							   for="switch_Status"
							   data-true="Active"
							   data-false="Inactive">

							@(Model.Obj == null || Model.Obj.IsActive ? "Active" : "Inactive")

						</label>

					</div>

				</div>

			</div> *@

		</div>

		@if(Model.Obj.Id == 0)
		{
			<div class="card-footer text-center">

				<button type="submit" class="btn btn-success btnSubmit">
					Save
				</button>

				<button type="button"
						class="btn btn-danger"
						onclick="fnCloseParialView('divformSave','#table_Common_Data');">
					Cancel
				</button>

			</div>
		}
		else
		{
			<div class="card-footer text-center">

				<button type="button" class="btn btn-success" onclick="fnChangeInquiryStatus('@Model.Obj.Id','INP')">
					Put in Inprocess
				</button>
				<button type="button" class="btn btn-warning" onclick="fnChangeInquiryStatus('@Model.Obj.Id','REP')">
					<i class="fas fa-reply me-1"></i> Reply
				</button>
				<button type="button" class="btn btn-danger" onclick="fnChangeInquiryStatus('@Model.Obj.Id','COMP')">
					<i class="fa fa-times"></i> Close
				</button>
				<button type="button"
						class="btn btn-danger"
						onclick="fnCloseParialView('divformSave','#table_Common_Data');">
					Cancel
				</button>

			</div>
		}	

	</div>
</div>

<script>

	$(document).on("submit", "#formSave", function (e) {

		var values = $('input[name="AttributeValues"]').val();

		if(values){

			values = values.trim();

			if(values.startsWith(",")){
				CommonAlert_Error("Values cannot start with comma.");
				return false;
			}

			if(values.endsWith(",")){
				CommonAlert_Error("Values cannot end with comma.");
				return false;
			}

			if(values.includes(",,")){
				CommonAlert_Error("Invalid format. Remove extra commas.");
				return false;
			}

		}

	});

</script>